body {
    font-family: Arial, sans-serif;
    background-color: #f0f4ff;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 800px;
    width: 100%;
}

.input-section, .output-section {
    padding: 20px;
    flex: 1;
}

.input-section {
    border-right: 1px solid #e0e0e0;
}

#inputText {
    width: 100%;
    height: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
    resize: none;
}

.buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#encryptButton {
    background-color: #0047ab;
    color: #fff;
}

#decryptButton {
    background-color: #ddd;
    color: #333;
}

.output-section {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.output-section img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.output-section p {
    margin: 5px 0;
}
